body{
	background-color:#18242E;
	font-family: "Microsoft YaHei",sans-serif;
	margin:0;
	overflow:hidden;
}
.c1{
	position:relative;
	margin-left:5%;
	display:inline-block;
	.sp_title{
		margin-left:30px;
		color:#585e63;
		font-size:16px;
	}
	h2{
		text-align:center;
		color:#d0d3d5;
		font-size:24px;
		line-height:1;
		margin:-20px 0 0 0;
		font-weight:normal;
	}
	margin-top:10px;
}
.c2{
	@extend .c1;
	.sp_title{
		margin-left:30px;
	}
	dl{
		font-size:23px;
		text-align:right;
		line-height:1.8;
		dt{
			i{
				width:30px;
				height:3px;
				display:inline-block;
				vertical-align:middle;
				margin-left:20px;
			}
			$color1:#4e7ccc;
			&.dt-1{ 
				color:$color1;
				i{ 
					background-color:$color1;
				}
			}
			$color2:#36b3c3;
			&.dt-2{ 
				color:$color2;
				i{ 
					background-color:$color2;
				}
			}
			$color3:#4ecda5;
			&.dt-3{ 
				color:$color3;
				i{ 
					background-color:$color3;
				}
			}
		}
	}
}